<h1>Pytania</h1>
<%= link_to "Dodaj pytanie", new_question_path, class: "btn btn-primary" %>
<hr>
<% @questions.each do |question| %>
  <div class="card my-2" style="">
    <div class="card-body">
      <h5 class="card-title" style="text-align:left;float:left;"><%= question.title %></h5>
      <h6 class="card-title" style="text-align:right;float:right;"> <%= question.author %> </h4>
      <p class="card-text" style="clear:both;"><%= question.body %></p>
      <%= link_to "Przejdź do strony pytania", question_path(question), class: "btn btn-success" %>
    </div>
  </div>
<% end %>
