<%= link_to "< Wróć do wszystkich pytań", questions_path %>
<hr>
<h2><%= @question.title %></h2>
<h5><%= @question.body %></h5>
<br>
<%= link_to "Dodaj odpowiedź", new_question_answer_path(@question), class: "btn btn-success" %>

<hr>
<% @question.answers.each do |answer| %>
  <div class="card my-2" style="">
    <div class="card-body">
      <h5 class="card-title"><%= answer.author %></h5>
      <p class="card-text"><%= answer.body %></p>
    </div>
  </div>
<% end %>
